In [12]:
import pandas as pd

In [13]:
df = pd.read_excel('student_working_hour_data.xlsx')
df.head()

   sr.No  ...  How much time time sports /Gym spend?
0    1.0  ...                                   3.00
1    2.0  ...                                   0.33
2    3.0  ...                                   2.00
3    4.0  ...                                   2.00
4    5.0  ...                                   1.00

[5 rows x 6 columns]

In [14]:
study = df.iloc[:,1]

In [15]:
study.mean()

5.349056603773585

In [16]:
study.mode()

0    3.0
dtype: float64

In [17]:
study.median()

4.0

In [18]:
study.var()

12.39985486211901

In [19]:
study.std()

3.521342764077222

In [20]:
study.quantile([0.25,0.5,0.75])

0.25    3.0
0.50    4.0
0.75    8.0
Name: How many Hours work (study) daily?, dtype: float64