In [ ]:
import pandas as pd
  
# creating sample data
df = pd.DataFrame([
                   [180000, 110, 18.9, 1400], 
                   [360000, 905, 23.4, 1800], 
                   [230000, 230, 14.0, 1300], 
                   [60000, 450, 13.5, 1500]], 
    
                   columns=['Col A', 'Col B',
                            'Col C', 'Col D'])

display(df)

    Col A  Col B  Col C  Col D
0  180000    110   18.9   1400
1  360000    905   23.4   1800
2  230000    230   14.0   1300
3   60000    450   13.5   1500

### Applying min-max normalization

In [ ]:
df_min_max_scaled = df.copy()
  
# applying min-max normalization technique
for column in df_min_max_scaled.columns:
    df_min_max_scaled[column] = (df_min_max_scaled[column] - df_min_max_scaled[column].min()) / (df_min_max_scaled[column].max() - df_min_max_scaled[column].min())    
  
# viewing normalized data   
print(df_min_max_scaled)

      Col A     Col B     Col C  Col D
0  0.400000  0.000000  0.545455    0.2
1  1.000000  1.000000  1.000000    1.0
2  0.566667  0.150943  0.050505    0.0
3  0.000000  0.427673  0.000000    0.4

### Z-score Normalization

In [ ]:
df_z_scaled = df.copy()
  
# applying z-score normalization technique
for column in df_z_scaled.columns:
    df_z_scaled[column] = (df_z_scaled[column] -
                           df_z_scaled[column].mean()) / df_z_scaled[column].std()    
  
# viewing normalized data   
display(df_z_scaled)

      Col A     Col B     Col C    Col D
0 -0.221422 -0.895492  0.311486 -0.46291
1  1.227884  1.373564  1.278167  1.38873
2  0.181163 -0.552993 -0.741122 -0.92582
3 -1.187625  0.074922 -0.848531  0.00000

### Decimal Scaling

In [ ]:
def Dec_scale(df):
    for x in df:
        p = df[x].max()
        q = len(str(abs(p)))
        df[x] = df[x]/10**q 

df_decimal_scaled = df.copy()

Dec_scale(df_decimal_scaled)

df_decimal_scaled

   Col A  Col B    Col C  Col D
0   0.18  0.110  0.00189   0.14
1   0.36  0.905  0.00234   0.18
2   0.23  0.230  0.00140   0.13
3   0.06  0.450  0.00135   0.15